doctype html
html
    head
        title= title
        link(rel="stylesheet" href="/lib/bootstrap/css/bootstrap.min.css")
        link(rel="stylesheet" href="/stylesheets/style.min.css")
        script(src="/lib/angular2/angular.min.js")
        script(src="/lib/jquery/jquery.min.js")
        script(src="/lib/bootstrap/js/bootstrap.min.js")
        script(src="/javascripts/common.js")
    body
        block content
