/*!
 * Host-Manager SCSS file
 */
/**** Margins ****/
.mt-10 {
  margin-top: 10px; }

.mr-10 {
  margin-right: 10px; }

.mb-10 {
  margin-bottom: 10px; }

.ml-10 {
  margin-left: 10px; }

.mt-20 {
  margin-top: 20px; }

.mr-20 {
  margin-right: 20px; }

.mb-20 {
  margin-bottom: 20px; }

.ml-20 {
  margin-left: 20px; }

.mt-30 {
  margin-top: 30px; }

.mr-30 {
  margin-right: 30px; }

.mb-30 {
  margin-bottom: 30px; }

.ml-30 {
  margin-left: 30px; }

.mt-40 {
  margin-top: 40px; }

.mr-40 {
  margin-right: 40px; }

.mb-40 {
  margin-bottom: 40px; }

.ml-40 {
  margin-left: 40px; }

.mt-50 {
  margin-top: 50px; }

.mr-50 {
  margin-right: 50px; }

.mb-50 {
  margin-bottom: 50px; }

.ml-50 {
  margin-left: 50px; }

.mt-60 {
  margin-top: 60px; }

.mr-60 {
  margin-right: 60px; }

.mb-60 {
  margin-bottom: 60px; }

.ml-60 {
  margin-left: 60px; }

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; }

#profile-tpl {
  display: none; }

.section {
  margin: 0 0 10px 0; }

.content {
  width: 100%;
  min-height: 300px; }

.profiles {
  margin: 0;
  padding: 0; }
  .profiles .profile {
    list-style: none;
    margin-bottom: 10px; }
    .profiles .profile .desc {
      padding-top: 5px;
      color: #999;
      font-size: 12px; }
    .profiles .profile .btn-group {
      width: 100%; }
      .profiles .profile .btn-group .edit {
        width: 50%; }
      .profiles .profile .btn-group .select {
        width: 25%;
        display: inline-block; }
      .profiles .profile .btn-group .selected {
        width: 25%;
        display: none; }
      .profiles .profile .btn-group .del {
        width: 25%; }
  .profiles .profile:last-child {
    margin-bottom: 0; }
  .profiles .profile.selected .btn-group .select {
    display: none; }
  .profiles .profile.selected .btn-group .selected {
    display: inline-block; }