/*!
 * Host-Manager SCSS file
 */

$font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
$base-color: #00B7FF;

// @import './scss/normalize';
@import './scss/vars';
// @import './scss/fonts';
@import './scss/mixins';
@import './scss/functions';
// @import './scss/media';
// @import './scss/grid';
@import './scss/globals';

body {
    font: 14px $font-family;
}

#profile-tpl {
    display: none;
}

.section {
    margin: 0 0 10px 0;
}

.content {
    width: 100%;
    min-height: 300px;
}

.profiles {
    margin: 0;
    padding: 0;

    .profile {
        list-style: none;
        margin-bottom: 10px;

        .desc {
            padding-top: 5px;
            color: #999;
            font-size: 12px;
        }
        .btn-group {
            width: 100%;

            .edit {
                width: 50%;
            }
            .select {
                width: 25%;
                display: inline-block;
            }
            .selected {
                width: 25%;
                display: none;
            }
            .del {
                width: 25%;
            }
        }
    }
    .profile:last-child {
        margin-bottom: 0;
    }
    .profile.selected {
        .btn-group .select {
            display: none;
        }
        .btn-group .selected {
            display: inline-block;
        }
    }
}
